.App {
  text-align: center;
  background: rgb(234, 234, 234);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(250, 249, 249); 
  align-items: left; 
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 header
 {
    width: 100%;
    padding: 0rem;
    margin: .2rem 1.5rem;
    text-align: left;
    transition: 200ms;
    background: rgb(250, 249, 249)    
  }

  header label
  {
     width: 96%;
     padding: -1rem;
     margin: .0rem 1.5rem;
     text-align: right;
     color: #ff0000;
   }

  body{
    background: rgb(236, 236, 236);
  }

  .body-div{
    background: rgb(236, 236, 236);
  }
  
  .invalid{
    border:1px solid #ff0000
  }
    
  hr{
      box-shadow: 0 2px 2px rgb(222, 32, 32), 0 2px 2px rgba(244, 167, 167, 0.842);
  }
  header{
    background: rgb(234, 234, 234);
  }

  #login_title_section {
    min-width: 100%;
    min-height: 100%;
  }
  
  #logout {
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 1%;
    font-size: 15px;
    font-size: 1.2vw;
  }
  
  #logo_image {
    min-width: 100%;
    min-height: 100%;
    margin-left: 5%;
  }
